/*
 * header
 *===========================================*/
.main-header-wrap {
background: var( --header-bg );
animation: move-to-bottom 1s;
position: relative;
z-index: 3; }

    .main-header {
    display: flex;
    color: var( --header-color ); }

		.options {
       display: flex; }

			.options-btn {
			padding: 1rem;
			background: none;
			color: var( --header-color ); }

			.options-btn:hover {
			color: var( --header-bg );
			background: var( --header-color ); }
/*
 * header end
 *===========================================*/
 
/*
 * open book aplet
 *===========================================*/
.open-book {
position: relative;
padding: 1rem;
color: var( --header-color ); }

    .open-book__inp {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%; }

    .open-book__ico {
    display: block; }
/*
 * open book aplet end
 *===========================================*/
 
/*
 * bookmarks aplet
 *===========================================*/
.bookmarks-aplet {
position: relative; }

    .bookmarks__inp {
    position: absolute;
    left: 100%;
    width: 0;
    overflow: hidden;
    padding: .9rem 0;
    align-self: center;
    color: var( --header-color );
    background: var( --header-bg );
    z-index: 1; }
    
    .bookmarks__inp--active {
    width: 20rem;
    padding: .9rem 1rem; } 
/*
 * book title aplet end
 *===========================================*/

/*
 * reading status aplet
 *===========================================*/
.reading-status-aplet {
position: relative;
display: flex;
background: none;
color: var( --header-color ); }

    .print-status {
    transition: .5s;
    padding: .9rem 1rem;
    align-self: center; }
    
    .reading-status__inp {
    position: absolute;
    left: 100%;
    width: 0;
    overflow: hidden;
    padding: .9rem 0;
    align-self: center;
    color: var( --header-color );
    background: var( --header-bg ); }
    
    .reading-status__inp--active {
    width: 20rem;
    padding: .9rem 1rem;
    z-index: 1; }
/*
 * reading status aplet end
 *===========================================*/

/*
 * loading status aplet
 *===========================================*/
.loading-aplet {
position: fixed;
width: 100%;
padding: 1rem;
text-align: center; }
/*
 * loading status aplet end
 *===========================================*/

.window {
position: fixed;
top: 0;
left: 0;
overflow-x: hidden;
overflow-y: auto;
scrollbar-width: none;
margin: 4rem calc( 50% - 15rem );
padding: 3rem;
width: 30rem;
transform: translateY(-100vh);
max-height: calc( 100vh - 5rem );
background: var( --content-bg );
color: var( --content-color );
box-shadow: 0 0 .5rem var( --content-color );
opacity: 0;
transition: .5s;
z-index: 1; }

.window--active {
transform: translateY(0);
opacity: 1; }

    .window__label {
    display: block;
    padding: 2rem 0 0;
    color: var( --content-color );
    white-space: nowrap; }
        
		.window__label:after {
		content: '';
		display: block;
		border-bottom: .1rem solid var( --content-color );
		margin: .5rem 1rem 1rem;
		width: calc( 100% - 1rem ); }
        
    .window__inp-el {
    width: 100%;
    padding: 1rem;
    margin: .3rem;
    border: .1rem solid var( --content-color );
    background: var( --content-bg );
    color: var( --content-color ); }
    
    .window__inp-el:hover {
    border: .1rem solid var( --header-bg ); }

	.window__btn {
	background: var( --header-bg );
	color: var( --header-color );
	padding: 1rem;
	margin: .3rem; }

	.window__close-btn {
	margin: 0 0 0 auto; }

	.window__color-writer {
	padding: .5rem;
	text-align: center; }

    .window__btn:hover,
    .window__btn:focus {
    background: var( --header-color );
    color: var( --header-bg ); }
    
    .align-book-text {
    display: flex;
    justify-content: space-between; }
    
		.align-book-text__btn {
		width: calc( 25% - .6rem );
		margin: .3rem 0;
		transition: .5s; }
    
		.window__btn--active {
		background: var( --header-color );
		color: var( --header-bg ); }
    
.set-page-btns {
position: fixed;
top: 3rem;
right: 0;
height: calc( 100% - 3rem );
display: flex;
flex-direction: column; }

    .set-page-btn {
    color: var( --content-color );
    background:  var( --content-bg );
    height: 50%;
    padding: 1rem; }
    
    .set-page-btn:hover {
    color: var( --header-color );
    background:  var( --header-bg ); }


/*
 * flibusta aplet
 *===========================================*/
.flibusta-aplet__search-box {
width: 90%;
margin: 4rem 5%;
height: calc( 100vh - 5rem );
padding: 0;
display: flex;
flex-direction: column; }

	.search-box__header {
	background: var( --header-bg );
	display: flex;
	}

		.search {
		display: flex;
		}

			.search__inp-el {
			background: none;
			padding: 1rem 1rem .8rem;
			color: var( --header-color );
			border-bottom: .2rem solid var( --header-bg );
			}

			.search__inp-el:hover,
			.search__inp-el:focus {
			border-bottom: .2rem solid var( --header-color );
			}

			.search__btn {
			background: none;
			color: var( --header-color );
			padding: 1rem;
			}

			.search__btn:hover,
			.search__btn:focus {
			background: var( --header-color );
			color: var( --header-bg );
			}

	.flibusta-aplet__main {
	padding: .5rem	;
	flex: 1;
	overflow-y: auto;
	scrollbar-width: none;
	}

		.books-list {
		display: flex;
		flex-wrap: wrap; }

			.books-list-item {
			height: 20rem;
			width: calc( 25% - 2rem );
			background: var( --content-bg );
			background-repeat: no-repeat;
			background-size: cover;
			color: var( --header-color );
			margin: 1rem;
			display: flex;
			flex-direction: column;
			transition: .5s;	}

			.books-list-item:hover {
			box-shadow: 0 0 .5rem var( --content-color ); }

				.books-list-item__main {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				padding: .5rem;
				transition: .5s; }
				
				.books-list-item__main:hover {
				background: var( --content-bg ); }

				.books-list-item__footer {
				display: flex;
				background: var( --header-bg ); }

					.footer__btn {
					background: none;
					color: var( --header-color );
					padding: .5rem; }

					.footer__btn:hover,
					.footer__btn:focus, {
					background: var( --header-color );
					color: var( --header-bg ); }

						.book__downloads {
						position: relative; }
						
							.book__downloads-links {
							display: none;
							position: absolute;
							bottom: 100%;
							left: 0;
							background: var( --header-bg ); }

							.book__downloads-links--active {
							display: block; }

								.book__downloads-links a {
								display: block;
								padding: .7rem 1rem; }

@media screen and ( max-width: 990px ) {
	.books-list-item {
	width: calc( 50% - 2rem ); }	
}

@media screen and ( max-width: 690px ) {
	.books-list-item {
	width: calc( 100% - 2rem ); }
}
/*
 * flibusta aplet end
 *===========================================*/
