/*
 * header
 *===========================================*/
.main-header-wrap {
background: var( --header-bg );
animation: move-to-bottom 1s;
position: relative;
z-index: 3; }

    .main-header {
    display: flex;
    color: var( --header-color ); }

		.options {
		display: flex;
		transition: .5s; }

		.options--active {
		margin: 0 3rem 0; }
       
			.options--active span {
			transition: 1s;
			transform: rotate(360deg); }

			.options-btn {
			padding: var( --system-padding );
			background: none;
			color: var( --header-color ); }

			.options-btn:hover {
			color: var( --header-bg );
			background: var( --header-color ); }

		.header__inp {
		position: fixed;
		left: 0;
		top: calc( var( --system-padding ) * 2 + 1.5rem );
		padding: var( --system-padding );
		border-radius: .2rem;
		width: 20rem;
		margin: 0 calc( 50% - 10rem );
		padding: var( --system-padding );
		color: var( --header-color );
		background: var( --header-bg );
		z-index: 1;
		transform: translateY( calc( -200% - var( --system-padding ) ) ) }

		.header__inp--active { 
		transform: translateY(0); }
/*
 * header end
 *===========================================*/
 
/*
 * open book aplet
 *===========================================*/
.open-book {
position: relative; }

    .open-book__inp {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%; }

/*
 * reading status aplet
 *===========================================*/
.reading-status-aplet {
position: relative;
display: flex;
align-items: center;
height: calc( 1rem + var( --system-padding ) * 2 ); }
 
    .reading-status-grafic {
	position: fixed;
	top: calc( var( --system-padding ) * 2 + 1rem );
	left: 0;
	height: calc( 100% - ( var( --system-padding ) * 2 + 1rem ) );
	background: var( --translucent-bg );
	box-shadow: 0 0 .5rem var( --content-color );
	opacity: 1;
	border-radius: .2rem; }

    .reading-status-grafic__progress-line {
    display: block;
    padding: 0 .3rem;
    background: var( --translucent-color );
    height: 0;
    }
/*
 * reading status aplet end
 *===========================================*/

/*
 * color schem aplet
 *===========================================*/
.theme-item {
display: flex;
align-items: center;
flex-wrap: wrap;
margin-top: .5rem; }

.theme-item__title {
flex: 1; }
/*
 * color schem aplet end
 *===========================================*/

.window {
position: fixed;
top: 0;
left: 0;
display: flex;
flex-direction: column;
margin: 4rem calc( 50% - 15rem );
width: 30rem;
max-height: calc( 100vh - 8rem );
background: var( --content-bg );
color: var( --content-color );
box-shadow: 0 0 .5rem var( --content-color );
opacity: 0;
transform: translateY(-100vh);
transition: .5s;
z-index: 1; }

.window--ful-width {
width: 90%;
margin: 4rem 5%;
height: calc( 100vh - 5rem ); }

.window--active {
transform: translateY(0);
opacity: 1; }

	.window__header {
	background: var( --header-bg );
	display: flex; }
	
	.window__main {
	padding: var( --system-padding ) .5rem;
	flex: 1;
	overflow: auto;
	scrollbar-width: none; }
	
	.aplet-list__header {
	position: fixed;
	top: 0;
	left: 0; }

		.aplet-list__item {
		display: none; }

		.aplet-list__item--active {
		display: block;
		animation: move-to-bottom .5s; }

		.window__label {
		display: block;
		padding: .5rem 0 0;
		color: var( --content-color );
		white-space: nowrap; }
			
			.window__inp-el-wrap {
			display: flex;
			align-items: center;
			position: relative }

					.options-list__toggle {
					padding: 1rem;
					background: none;
					color: var( --content-color ); }

					.options-list__toggle:hover {
					color: var( --translucent-color ); }

					.options-list {
					position: absolute;
					right: 0;
					top: calc( 100% + .3rem );
					overflow: hidden;
					background: var( --content-bg );
					box-shadow: 0 0 .5rem var( --content-color );
					border-radius: .3rem;
					z-index: 2;
					display: none; }

					.options-list--active {
					display: block;
					animation: move-to-bottom .5s; }

					.options-list__item {
					padding: 1rem;
					color: var( --content-color );
					transition: .5s; }

					.options-list__item:hover {
					background: var( --translucent-color );
					color: var( --translucent-bg );
					}

				.window__inp-el--wrap {
				display: flex;
				flex-direction: column;
				justify-content: center; }

				.window__inp-el {
				width: 100%;
				padding: var( --system-padding );
				margin: .3rem 0 0;
				border-bottom: .2rem solid var( --content-color );
				background: var( --content-bg );
				color: var( --content-color ); }
				
				.box-color-inp {
				display: flex;
				align-items: center; }
				
				.window__inp-el:hover {
				border-bottom: .2rem solid var( --translucent-color ); }

			.window__btn {
			background: var( --header-bg );
			color: var( --header-color );
			padding: var( --system-padding );
			margin: .3rem; }

			.window__close-btn {
			margin: 0 0 0 auto; }

			.window__color-writer {
			padding: .5rem;
			text-align: center; }

			.window__btn:hover,
			.window__btn:focus,
			.window__btn--active {
			background: var( --translucent-color );
			color: var( --translucent-bg ); }
			
			.align-book-text {
			display: flex;
			justify-content: space-between; }
			
				.align-book-text__btn {
				width: calc( 25% - .6rem );
				margin: .3rem 0;
				transition: .5s; }

/*
 * flibusta aplet
 *===========================================*/
.flibusta-header {
display: flex;
align-items: center;
position: fixed;
left: 0;
width: 100%;
padding: 0 .5rem;
top: 3rem;
background: var(--content-bg);
z-index: 3;
box-shadow: 0 .2rem .2rem var( --content-color ); }

		.search {
		display: flex;
		padding: var( --system-padding ) 0; }

			.search__inp-el {
			background: none;
			padding: var( --system-padding ) var( --system-padding ) .8rem;
			color: var( --content-color );
			border-bottom: .2rem solid var( --header-bg );
			}

			.search__inp-el:hover,
			.search__inp-el:focus {
			border-bottom: .2rem solid var( --translucent-color );
			}

			.search__btn {
			background: var( --header-bg );
			color: var( --header-color );
			padding: var( --system-padding );
			}

			.search__btn:hover,
			.search__btn:focus {
			background: var( --translucent-color );
			color: var( --translucent-bg );
			}

		.books-list {
		display: flex;
		flex-wrap: wrap;
		padding: 4rem 0 0 }

			.books-list-item {
			height: 20rem;
			width: calc( 25% - 2rem );
			background: var( --content-bg );
			background-repeat: no-repeat;
			background-size: cover;
			color: var( --header-color );
			margin: 1rem;
			display: flex;
			flex-direction: column;
			transition: .5s;	}

			.books-list-item:hover {
			box-shadow: 0 0 .5rem var( --content-color ); }

				.books-list-item__main {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				padding: .5rem;
				transition: .5s; }
				
				.books-list-item__main:hover {
				background: var( --content-bg ); }

				.books-list-item__footer {
				display: flex;
				background: var( --header-bg ); }

					.footer__btn {
					background: none;
					color: var( --header-color );
					padding: .5rem; }

					.footer__btn:hover,
					.footer__btn:focus, {
					background: var( --header-color );
					color: var( --header-bg ); }

						.book__downloads {
						position: relative; }
						
							.book__downloads-links {
							display: none;
							position: absolute;
							bottom: 100%;
							left: 0;
							background: var( --translucent-bg ); }

							.book__downloads-links--active {
							display: block; }

								.book__downloads-links a {
								display: block;
								padding: .7rem 1rem; }
								
		.pugination {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var( --system-padding );	}
		
			.pugination__btn {
			background: none;
			color: var( --content-color );
			padding: var( --system-padding ); }
			
			.pugination__btn:hover,
			.pugination__btn.active {
			background: var( --translucent-bg );
			color: var( --translucent-color ); }

@media screen and ( max-width: 990px ) {
	.books-list-item {
	width: calc( 50% - 2rem ); }	
}

@media screen and ( max-width: 690px ) {
	.books-list-item {
	width: calc( 100% - 2rem ); }
}
/*
 * flibusta aplet end
 *===========================================*/
