html
	head
		title Free reader
		meta( charset='utf-8' )
		meta( name='viewport' content='width=device-width, initial-scale=1' )
		meta( description="Чтение книг в online бесплатно. Free reader - web приложение для чтения электронных книг." )

		link( rel='shortcut icon' href='img/favicon.ico' )

		link( rel='stylesheet' href='css/style.css' )
		link( rel='stylesheet' href='css/font-awesome.min.css' )
	body
		div.app

		script( src='js/vue.js' )
		script( src='js/jszip.js' )
		script( src='js/main.js', type="module" )
						
